nav[role=navigation] {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      margin-right: 1em;
      margin-bottom: 1em;
      list-style-type: none;
      a {
        display: block;
        background: #949494;
        background-color: #f2f1eb;
        background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
        padding: .5em 2em;
        color: #333;
        text-decoration: none;
        border: 1px solid #a6a6a6;
        border-radius: 20em;
        text-shadow: 0 1px hsla(0, 0%, 100%, 0.6);
        font-weight: bold;
        font-size: 0.875rem;  /* 5 */
        -webkit-font-smoothing: antialiased;  /* 6 */
        &:visited {
          color: #333;
        }
        &:hover,&:focus {
          background-color: #f9f8f6;
          background-image: linear-gradient(to bottom, #fcfcfa, #e9e9dd);
          color: #1a1a1a;
          text-decoration: none;
          outline: none;
        }
        &:hover {
          box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
        }
        &:active {
          border: 1px solid #a6a6a6;
          background-color: #dfdfd9;
          background-image: linear-gradient(to bottom, #f6f6f3, #e7e7df);
          box-shadow: inset 0 1px 3px hsla(0, 0%, 0%, 0.2);
          transition: none;
        }
      }
    }
  }

}
nav {
  li {
    list-style-type: none;
  }
}

dl {
  padding-left: 2em;
  dt {
    &, * {
      font-weight: bold;
    }
    position: relative;
    &:before {
      content: "-";
      position: absolute;
      left: -2em;
    }
  }
  dd {
    margin: 0 0 1em 1em;
  }
}

.unpublished {
  background-color: #ffc0cb66;
}

.messages {
  padding: 1em;
  text-align: center;
  &.notice {
    background: darkgrey;
  }
}

@import "forms";
@import "buttons";
@import "dropbutton";
@import "tables";
