nav[role=navigation] {
  .tabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      margin-right: 1em;
      margin-bottom: 1em;
      list-style-type: none;
      a {
        display: block;
        background: grey;
        padding: .5em 2em;
        color: white;
        text-decoration: none;
        &:hover {
          background-color: black;
        }
        &:visited {
          color: white;
        }
      }
    }
  }

}
nav {
  li {
    list-style-type: none;
  }
}

dl {
  padding-left: 2em;
  dt {
    &, * {
      font-weight: bold;
    }
    position: relative;
    &:before {
      content: "-";
      position: absolute;
      left: -2em;
    }
  }
  dd {
    margin: 0 0 1em 1em;
  }
}

.unpublished {
  background-color: #ffc0cb66;
}

.messages {
  padding: 1em;
  text-align: center;
  &.notice {
    background: darkgrey;
  }
}

@import "forms";
@import "buttons";
@import "dropbutton";
@import "tables";
