{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for local actions (primary admin actions.)
 */
#}
{% block content %}
  {% if content %}
    <nav class="local-actions" role="navigation"><ul class="tabs">{{ content }}</ul></nav>
  {% endif %}
{% endblock %}
