<div {{ attributes }}>
  {% if page.header %}
  <header class="main-header">
  {{ page.header }}
  </header>
  {% endif %}
  <main role="main">
    {{ page.content }}
  </main>
  {% if page.footer %}
  <footer class="main-footer">
    {{ page.footer }}
  </footer>
  {% endif %}
</div>
